* {
    box-sizing: border-box;
}

body {
    background-color: #8C7A6B;
    font-family: 'Krub', sans-serif;
}

h1 {
    text-align: center;
    margin: 0 0 30px 0;
}

h2.error {
    color: crimson;
    text-align: center;
    margin: 0 0 30px 0;
}

h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

form, div.list {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #D9CAB3;
    border-radius: 8px;
}

input[type="text"], input[type="password"], input[type="file"] {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="submit"] {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

input.small {
    vertical-align: middle;
    padding: 9px 19px 9px 19px;
    font-size: 12px;
    width: 75%;
    margin-bottom: 0px;
}

input[type="submit"].small {
    width: 25%;
}

.inLine {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

button {
    font-family: inherit;
    font-size: 18px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.deletePub {
    background-color: tomato;
    color: #fff;
    padding: 9px 10px 9px 10px;
    font-size: 12px;
}

.deleteFile {
    background-color: #e8eeef;
    color: tomato;
    border-color: tomato;
    padding: 9px 10px 9px 10px;
    border-width: 1px;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
}

.asLink {
    margin: 0;
    padding: 0;
    border: none;
    color: #007bff;
    font-size: 16px;
    background-color: transparent;
}

.pubInfo {
    margin-top: 10px;
}

@media screen and (min-width:480px) {
    form {
        max-width: 480px;
    }
}